<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="description" content="A simple fines Art Store Gallery node.js website using express and bootstrap,
	Designed & Developed by: Christian Arvin C. Cabo,
	email: cacc.greenleaflabworks@gmail.com">
	<!-- bootstrap required meta-tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- bootstrap css -->
	<link rel="stylesheet" type="text/css" href="/assets/static/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- fork-awesome -->
	<link rel="stylesheet" type="text/css" href="/assets/static/fork-awesome/1.1.7/css/fork-awesome.min.css">
	<!-- Raleway font -->
	<link rel="stylesheet" type="text/css" href="/assets/static/fonts/raleway/Raleway.css">
	<!-- Custom Stylesheet -->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<%if(typeof page !== 'undefined'){%>
<%if(page === 'signup' || page === 'login'){%>
	<!-- Auth Style -->
	<link rel="stylesheet" type="text/css" href="/assets/css/auth.css">
<%}%>
<%if(page === 'landing'){%>
	<!-- Landing Style -->
	<link rel="stylesheet" type="text/css" href="/assets/css/landing.css">
	<!-- Landing Js -->
	<script type="text/javascript" src="/assets/static/modernizr/2.8.3-modernizr.min.js" async></script>
<%}%>
<%}%>
	<link rel="icon" type="img/gif" href="/assets/static/favicon.ico">
	<title>The Art Store Gallery</title>
</head>
<body>
	<nav class="navbar navbar-dark navbar-expand-lg bg-dark sticky-top">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="/"><i class="fa fa-artstation" aria-hidden="true"></i> The Art Store Gallery</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item <%=typeof page !== 'undefined' && page === 'artgallery' ? 'active' : ''%>">
						<a class="nav-link" href="/artgallery">Home <span class="sr-only">(current)</span></a>
					</li>
				</ul>

				<ul class="navbar-nav ml-3">
					<%if(!currentUser){%>
						<li class="nav-item <%=typeof page !== 'undefined' && page === 'artgallery' ? 'active' : ''%>">
							<a class="nav-link" href="/login">Login <i class="fa fa-user"></i><span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item <%=typeof page !== 'undefined' && page === 'artgallery' ? 'active' : ''%>">
							<a class="nav-link" href="/signup">Sign-up <i class="fa fa-user-plus"></i> <span class="sr-only">(current)</span></a>
						</li>
					<%} else {%>
						<li class="nav-item active">
							<a class="nav-link" href="#"><%=currentUser.username%> <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item <%=typeof page !== 'undefined' && page === 'artgallery' ? 'active' : ''%>">
							<a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
						</li>
					<%}%>
				</ul>
			</div>
		</div>
	</nav>

	<!-- flash message.contianer -->
	<div class="container my-2">
		<%if(msg_error && msg_error.length > 0 ){%>
			<div class="alert alert-danger" role="alert">
				<%=msg_error%>
			</div>
		<% } %>
		
		<%if(msg_success && msg_success.length > 0 ){%>
			<div class="alert alert-success" role="alert">
				<%=msg_success%>
			</div>
		<% } %>
	</div>
	<!-- start.container -->
	<div class="container mb-5">