<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="description" content="
	A simple Art Store Gallery where you can share your creations.
	Designed & Developed by: Christian Arvin C. Cabo,
	email: cacc.greenleaflabworks@gmail.com">
	<!-- bootstrap required meta-tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<%if(typeof page !== 'undefined' && page === 'artgallery'){%>
	<!-- resolve cloudinary -->
	<link rel="dns-prefetch" href="https://cloudinary.com">
<%}%>
	<!-- bootstrap css -->
	<link rel="stylesheet" type="text/css" href="/assets/static/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
	<!-- fork-awesome -->
	<link rel="preload" as="style" type="text/css" href="/assets/static/fork-awesome/1.1.7/css/fork-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/static/fork-awesome/1.1.7/css/fork-awesome.min.css">
	<!-- Raleway font -->
	<link rel="preload" as="style" type="text/css" href="/assets/static/fonts/raleway/Raleway.css">
	<link rel="stylesheet" type="text/css" href="/assets/static/fonts/raleway/Raleway.css">
	<!-- Custom Stylesheet -->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<%if(typeof page !== 'undefined'){%>
<%if(page === 'auth'){%>
	<!-- Auth Style -->
	<link rel="stylesheet" type="text/css" href="/assets/css/auth.css">
<%}%>
<%if(page === 'landing'){%>
	<!-- Landing Style -->
	<link rel="stylesheet" type="text/css" href="/assets/css/landing.css">
<%}%>
<%}%>
	<link rel="icon" type="img/gif" href="/assets/static/favicon.ico">
	<title>The Art Store Gallery</title>
</head>
<body>

<!-- navigation bar -->
<nav class="navbar navbar-dark navbar-expand-lg bg-dark sticky-top">
	<div class="container">
		<a class="navbar-brand" href="/"><i class="fa fa-artstation" aria-hidden="true"></i> The Art Store Gallery</a></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
			<a class="nav-link <%=typeof page !== 'undefined' && page === 'artgallery' ? 'active' : ''%>" href="/artgallery" aria-current="Gallery">Gallery</a>
		</li>
	</ul>
	<ul class="navbar-nav ml-auto mb-2 mb-lg-0">
	<%if(typeof page !== 'undefined' && page === 'artgallery'){%>
		<form class="d-flex" action="/artgallery" method="GET">
			<input class="form-control mr-2" name="search" type="search" placeholder="Search Art Title" aria-label="Search Art Title">
			<button class="btn btn-outline-success" type="submit">Search</button>
		</form>
	<%}%>
	<%if(!currentUser){%>
		<li class="nav-item">
			<a class="nav-link <%=typeof page !== 'undefined' && page === 'artgallery' ? 'active' : ''%>" href="/signin">Sign-in <i class="fa fa-user"></i></a>
		</li>
		<li class="nav-item">
			<a class="nav-link <%=typeof page !== 'undefined' && page === 'artgallery' ? 'active' : ''%>" href="/signup">Sign-up <i class="fa fa-user-plus"></i></a>
		</li>
	<%} else {%>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" style="text-transform: lowercase"><%=currentUser.firstName%></a>
			<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				<li><a class="dropdown-item" href="/user/<%=currentUser.id%>">Profile</a></li>
				 <li><hr class="dropdown-divider"></li>
				<li><a class="dropdown-item" href="/logout">Logout</a></li>
			</ul>
		</li>
	<%}%>
      </ul>
    </div>
  </div>
</nav>
<%if(msg_error.length > 0 || msg_success.length > 0){%>
<!-- flash message.contianer -->
<div class="container text-center my-2">
	<%if(msg_error.length>0){%>
	<div class="alert alert-danger"  role="alert"><%=msg_error%></div>
	<%}%>
	<%if(msg_success.length>0){%>
	<div class="alert alert-success" role="alert"><%=msg_success%></div>
	<%}%>
</div>
<% } %>
<!-- start.main -->
<main class="container overflow-hidden">