<!DOCTYPE html>
<html lang="en-PH">
<head>
	<meta name="google-site-verification" content="qrWPKVT9HWRPjuDQIqYAlIo3pIsxd8wYCDc0cMkZvNs" />
	<meta name="description" <%if(typeof page !== 'undefined' && page.description){%>content="<%=page.description%>"<%}else{%>
	content="
	A simple Art Store Gallery where you can share your creations.
	Designed & Developed by: Christian Arvin C. Cabo
	email: cacc.greenleaflabworks@gmail.com"
<%}%>>
	<!-- bootstrap required meta-tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="canonical" href="https://theartstoregallery.herokuapp.com">
<%if(typeof page !== 'undefined' && page.name === 'artgallery'){%>
	<!-- resolve cloudinary -->
	<link rel="dns-prefetch" href="https://cloudinary.com">
<%}%>
	<!-- bootstrap css -->
	<link rel="stylesheet" type="text/css" href="/assets/static/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
	<!-- fork-awesome -->
	<link rel="preload" as="style" type="text/css" href="/assets/static/fork-awesome/1.1.7/css/fork-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/static/fork-awesome/1.1.7/css/fork-awesome.min.css">
	<!-- Raleway font -->
	<link rel="preload" as="style" type="text/css" href="/assets/static/fonts/raleway/Raleway.css">
	<link rel="stylesheet" type="text/css" href="/assets/static/fonts/raleway/Raleway.css">
	<!-- Custom Stylesheet -->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<%if(typeof page !== 'undefined'){%>
<%if(page.name === 'auth'){%>
	<!-- Auth Style -->
	<link rel="stylesheet" type="text/css" href="/assets/css/auth.css">
<%}%>
<%if(page.name === 'landing'){%>
	<!-- Landing Style -->
	<link rel="stylesheet" type="text/css" href="/assets/css/landing.css">
<%}%>
<%}%>
	<!-- General script -->
	<script type="text/javascript" src="/assets/js/index.js"></script>
	<!-- lazy load -->
	<script type="text/javascript" src="/assets/js/lazyImage.js" defer></script>
	<!-- favicon -->
	<link rel="icon" type="img/gif" href="/assets/static/favicon.ico">
	<title><%if(typeof page !== 'undefined'){%> <%=page.title%> <%}else{%>The Art Store Gallery<%}%></title>
</head>
<body>

<!-- navigation bar -->
<nav class="navbar navbar-dark navbar-expand-lg bg-dark sticky-top" id="navBar">
	<div class="container">
		<a class="navbar-brand" href="/"><i class="fa fa-paint-brush" aria-hidden="true"></i> The Art Store Gallery</a></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="GalleryDropdownMenu" role="button" data-toggle="dropdown" aria-expanded="false">Gallery</a>
			<ul class="dropdown-menu" aria-labelledby="GalleryDropdownMenu">
				<li><a class="dropdown-item" href="/artgallery"><i class="fa fa-picture-o" aria-hidden="true"></i> Art Works</a></li>
				<li><a class="dropdown-item" href="/artgallery/new"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add New Art</a></li>
			</ul>
		</li>
	</ul>
	<div class="ml-auto mb-2 mb-lg-0">
		<form class="d-flex" action="/artgallery" method="GET">
			<input class="form-control mr-2" name="search" type="search" placeholder="Search Art Title" aria-label="Search Art Title">
			<button class="btn btn-outline-success w-auto" type="submit"><i class="fa fa-search-plus" aria-hidden="true"></i></button>
		</form>
	</div>
	<ul class="navbar-nav mb-2 mb-lg-0">
	<%if(!currentUser){%>
		<li class="nav-item">
			<a class="nav-link <%=typeof page !== 'undefined' && page === 'artgallery' ? 'active' : ''%>" href="/signin"><i class="fa fa-user" aria-hidden="true"></i> Sign-in</a>
		</li>
		<li class="nav-item">
			<a class="nav-link <%=typeof page !== 'undefined' && page === 'artgallery' ? 'active' : ''%>" href="/signup"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign-up</a>
		</li>
	<%} else {%>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" style="text-transform: lowercase"><i class="fa fa-user-circle" aria-hidden="true"></i> <%=currentUser.firstName%></a>
			<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				<li><a class="dropdown-item" href="/user/<%=currentUser.id%>"><i class="fa fa-address-book-o" aria-hidden="true"></i> Profile</a></li>
				<li><hr class="dropdown-divider"></li>
				<li><a class="dropdown-item" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
			</ul>
		</li>
	<%}%>
	  </ul>
	</div>
  </div>
</nav>
<%if(msg_error.length > 0 || msg_success.length > 0){%>
<!-- flash message.contianer -->
<div class="container text-center my-2">
	<%if(msg_error.length>0){%>
	<div class="alert alert-danger"  role="alert"><%=msg_error%></div>
	<%}%>
	<%if(msg_success.length>0){%>
	<div class="alert alert-success" role="alert"><%=msg_success%></div>
	<%}%>
</div>
<% } %>
<!-- start.main -->
<main class="container overflow-hidden">
