<%-include("../partials/header")%>
	<div class="text-center">
		<h1 class="mt-5">"<%=comment.art.title%>"</h1>
		<h3 class="">Edit Comment</h3>
	</div>
	<div class="row mb-5 justify-content-center">
		<div class="col col-md-9 col-lg-6">
			<form class="form-style" action="/artgallery/<%=artgallery_id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
				<div class="form-group mb-3">
					<label for="commentTitle">Title <small>(optional)</small></label>
					<input id="commentTitle" class="form-control" type="text" name="comment[title]" placeholder="Comment Title.." value="<%=comment.title%>" style="font-weight: bold">
				</div>
				<div class="form-group mb-3">
					<label for="commentBody">Message</label>
					<textarea id="commentBody" class="form-control fixed" rows="5" name="comment[text]" placeholder="Write your comment here..." spellcheck="true" autofocus="true"><%=comment.text%></textarea>
				</div>
				<div class="form-group mb-3">
					<label for="inputUser">Author</label>
					<input class="form-control text-center" type="text" value="<%=comment.author.fullName%>" readonly>
				</div>
				<div class="form-group">
					<button class="btn btn-warning btn-block">Update</button>
				</div>
			</form>
			<div class="mt-2">
				<a href="/artgallery/<%=artgallery_id%>"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>  Go Back</a>
			</div>
		</div>
	</div>
<%-include("../partials/footer")%>