<%-include("../partials/header")%>
	<div class="text-center">
		<h1 class="mt-5">"<%=artgallery.title%>"</h1>
		<h3 class="">Add New Comment</h3>
	</div>
	<div class="row mb-5 justify-content-center">
		<div class="col col-md-9 col-lg-6">
			<form class="form-style" action="/artgallery/<%=artgallery.slug%>/comments/new" method="POST">
				<div class="form-group mb-3">
					<label for="commentTitle">Title <small>(optional)</small></label>
					<input id="commentTitle" class="form-control" type="text" name="comment[title]" placeholder="Comment Title.." style="font-weight: bold">
				</div>
				<div class="form-group mb-3">
					<label for="commentBody">Message</label>
					<textarea id="commentBody" class="form-control fixed" rows="5" name="comment[text]" placeholder="Write your comment here..." spellcheck="true" autofocus="true"o></textarea>
				</div>
				<div class="form-group mb-3">
					<label for="inputUser">Author</label>
				<%if(!currentUser){%>
					<input class="form-control text-center" type="text" id="inputUser">
				<%}else{%>
					<input class="form-control text-center" type="text" id="inputUser" value="<%=currentUser.fullName%>" readonly>
				<%}%>
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-block">Submit</button>
				</div>
			</form>
			<div class="mt-2">
				<a href="/artgallery/<%=artgallery.slug%>"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>  Go Back</a>
			</div>
		</div>
	</div>
<%-include("../partials/footer")%>