<%-include("../partials/header")%>
	<div class="text-center">
		<h1 class="mb-3 mt-5">Edit <strong><%=artgallery.title%></strong></h1>
	</div>
	<div class="container justify-content-center" id="formtemplate">
		<form class="form-style" action="/artgallery/<%=artgallery.id%>?_method=PUT" method="POST" >
			<div class="form-group">
				<label for="name">Title</label>
				<input id="name" class="form-control" required type="text" name="title" placeholder="Title" value="<%=artgallery.title%>">
			</div>
			<div class="form-group">
				<label for="price">Price</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">&#8369;</span>
					</div>
					<input id="price" class="form-control" type="number" name="price" placeholder="Price" min="0" step="0.01" value="<%=artgallery.price%>">
				</div>
			</div>
			<div class="form-group mb-3">
				<label for="image">Image url</label>
				<input id="image" class="form-control" required type="text" name="image" value="<%=artgallery.image%>" placeholder="http(s)://" title="Please fill-in a valid url" required pattern="(https?|ftps?):\/\/[\w\W]+\.(jpg|png|svg)|(\/[\w\W]+\.(jpg|png|svg)|[\w]+\/[\w\W]+\.(jpg|png|svg))">
			</div>
			
			<div class="form-group mb-6">
				<div class="input-group">
					<div class="input-group-prepend">
						<label class="input-group-text" style="width: 90px;" for="artType">Art Type</label>
					</div>
					<select required name="artType" class="custom-select" id="artType">
						<%artType.forEach(x =>{%>
							<option value='{"index":<%=x.index%>,"name":"<%=x.name%>"}'
							<%if(artgallery.artType.index == x.index){%>
								selected
							<%}%>
							><%=x.name%></option>
						<%})%>
					</select>
				</div>
			</div>
			<div class="form-group" id="artTypeOthers-Container" style="display:none;">
				<label for="artTypeOthers">Art Type Others</label>
				<input class="form-control" type="text" name="artTypeOthers" id="artTypeOthers" placeholder="Define your artwork..">
			</div>
			<div class="form-group mb-6">
				<div class="input-group">
					<div class="input-group-prepend" style="width: 90px;">
						<label class="input-group-text" style="width: 90px" for="status">Status</label>
					</div>
					<select required name="status" class="custom-select" id="status">
						<%statusList.forEach(x =>{%>
							<option value='{"index":<%=x.index%>,"name":"<%=x.name%>"}' <%if(artgallery.status.index == x.index){%>
									selected
								<%}%>><%=x.name%></option>
						<%})%>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label for="description">Description</label>
				<textarea id="description"class="form-control" name="description" placeholder="Description" autofocus="true" rows="3" ><%=artgallery.description%></textarea>
			</div>
			<div class="form-group">
				<button class="btn btn-primary btn-lg btn-block">Submit</button>
			</div>
			<a class="d-block" href="/artgallery">Go Back</a>
		</form>
	</div>
	<script type="text/javascript">
		let artTypeNameTemp = '';
		let artTypeOthers = document.querySelector('#artTypeOthers-Container');
		let artTypeOthersName = document.querySelector('#artTypeOthers');
		document.querySelector('#artType').addEventListener('change',e=>{
			if(JSON.parse(e.target.value).index === 3){
				artTypeOthers.style ='display:block';
				if(!artTypeNameTemp){
					artTypeOthersName.value = '<%=artgallery.artType.name%>';
				} else {
					artTypeOthersName.value = 'artTypeNameTemp';
				}
			} else {
				artTypeOthers.style 	= 'display:none';
				artTypeOthersName.value = '';
			}
		});
		artTypeOthersName.addEventListener('ValueChange',e=>{
			artTypeNameTemp = e.target.value;
		});
		if(<%=artgallery.artType.index%> === 3){
			artTypeOthers.style = 'display:block';
			artTypeOthersName.value = '<%=artgallery.artType.name%>';
		}
	</script>
<%-include("../partials/footer")%>