<%-include("../partials/header" )%>
	<div class="jumbotron mt-3">
		<div>
			<h1 class="display-5">The Art Store Gallery</h1>
			<p class="lead">A picture is worth a thousand words...</p>
			<hr style="border-style: solid;border-color: grey">
		</div>
		<div class="text-right">
			<a class="btn btn-primary btn-lg" href="/artgallery/new" role="button">Add New Art</a>
		</div>
	</div>
	<div class="container" id="card-container">
		<div class="row">
			<%artgallery.forEach((x)=>{ %>
				<div class="col-sm-6 col-md-4 col-lg-3 mb-3">
				  	<div class="card">
					  	<img class="card-img-top" src="<%=x.image%>" class="" alt="">
					  	<div class="card-body">
							<h5><strong><%=x.title %></strong></h5>
							<a class="btn btn-primary btn-sm"href="/artgallery/<%=x._id%>" class="">More info</a>
							<%if(currentUser && x.author.id.equals(currentUser._id)){%>
								<form class="form-inline"action="/artgallery/<%=x._id%>?_method=DELETE" method="POST">
									<button class="btn btn-danger btn-sm">Delete</button>
								</form>
							<%}%>
						</div>
					</div>
				</div>
			<% }); %>
		</div>
	</div	>
<%-include("../partials/footer")%>