<%-include("../partials/header" )%>
	<header class="bg-dark py-5 px-5 mt-3 rounded">
		<section class="text-center">
			<h1 class="display-5">The Art Store Gallery</h1>
			<hr>
			<p>A picture is worth a thousand words...</p>
		</section>
		<section class="">
			<div class="text-right">
				<a class="btn btn-primary" href="/artgallery/new" role="button">Add New Art <i class="fa fa-plus-circle" aria-hidden="true"></i> </a>
			</div>
		</section>
	</header>
	<section class="row my-3">
	<%if(typeof emptyQueryMsg === 'undefined' || emptyQueryMsg === ''){%>
		<%for(let x of artgallery){ %>
			<article class="col-md-6 col-lg-4 mb-3">
				<div class="card bg-dark" id="card">
			  		<section class="card-body">
			  			<figure class="figure">
					  		<a href="/artgallery/<%=x._id%>">
					  			<img class="img-fluid rounded card-img-top lazy" data-src="<%=x.image.thumb_url%>" width="<%=x.image.width%>" height="<%=x.image.height%>" src="<%=x.image.placeholder_url%>" alt="<%=x.title%>">
					  		</a>
				  		</figure>
				  		<header>
							<a href="/artgallery/<%=x._id%>">
								<h5 class="card-title"><strong><%=x.title %></strong></h5>
							</a>
				  		</header>
			  			<p class="card-text"><%=x.description.substring(0,35)%>...</p>
					</section>
			  		<section class="card-body">
			  			<a class="btn btn-info btn-sm" href="/artgallery/<%=x._id%>" class=""><i class="fa fa-info-circle" aria-hidden="true"></i> More info</a>
		  			<%if(currentUser && x.author.id.equals(currentUser._id)){%>
		  				<a class="btn btn-warning btn-sm" href="/artgallery/<%=x._id%>/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
						<form class="d-inline"action="/artgallery/<%=x._id%>?_method=DELETE" method="POST">
							<button class="btn btn-danger btn-sm"><i class="fa fa-times" aria-hidden="true"></i>  Delete</button>
						</form>
					<%}%>
					</section>
				</div>
			</article>	
	<%}%>
	<%} else {%>
			<div class="container">
				<p class="text-center display-4"><strong>Sorry, We cannot find <em>"<span id="header-text"style="color:red;"><%=emptyQueryMsg%></span>"</em> in our database..</strong></p>
			</div>
	<%}%>
	</section>
<%-include("../partials/footer")%>