<%-include("../partials/header" )%>
	<header class="bg-dark py-5 px-5 mt-3">
		<section class="text-center">
			<h1 class="display-5">The Art Store Gallery</h1>
			<hr>
			<p>A picture is worth a thousand words...</p>
		</section>
		<section class="">
			<div class="text-right">
				<a class="btn btn-primary" href="/artgallery/new" role="button">Add New Art</a>
			</div>
		</section>
	</header>
	<section class="row justify-content-evenly my-3">
	<%if(typeof emptyQueryMsg === 'undefined' || emptyQueryMsg === ''){%>
		<%for(let x of artgallery){ %>
			<article class="col-md-6 col-lg-4 mb-3">
				<div class="card bg-dark" id="card">
			  		<section class="card-body">
			  			<figure>
					  		<img class="rounded card-img-top" src="<%=x.image.thumb_url%>">
				  		</figure>
				  		<header>
							<h5 class="card-title"><strong><%=x.title %></strong></h5>
				  		</header>
			  			<p class="card-text"><%=x.description.substring(0,35)%>...</p>
					</section>
			  		<section class="card-body">
			  			<a class="btn btn-primary btn-sm"href="/artgallery/<%=x._id%>" class="">More info</a>
		  			<%if(currentUser && x.author.id.equals(currentUser._id)){%>
						<form class="d-inline"action="/artgallery/<%=x._id%>?_method=DELETE" method="POST">
							<button class="btn btn-danger btn-sm">Delete</button>
						</form>
					<%}%>
					</section>
				</div>
			</article>	
	<%}%>
	<%} else {%>
			<div class="container">
				<p class="text-center display-4"><strong>Sorry, We cannot find <em>"<span id="header-text"style="color:red;"><%=emptyQueryMsg%></span>"</em> in our database..</strong></p>
			</div>
	<%}%>
	</section>
<%-include("../partials/footer")%>