<%-include("../partials/header")%>
	<style>
		.label {
			font-size: 1.2rem;
		}
		option {
			height: 1rem;
		}
	</style>
	<div class="text-center">
		<h1 class="mb-3 mt-5">Create new <strong>Art</strong> post%></h1>
	</div>
	<div class="row justify-content-center mb-5">
		<div class="col col-md-9 col-lg-6">
			<form action="/artgallery/new" method="POST" enctype="multipart/form-data">
				<div class="mb-3">
					<label class="label" for="title">Title</label>
					<input class="form-control" id="title" type="text" name="title" autocomplete="title" required autofocus>
				</div>
				<div class="mb-3">
					<label class="label" for="image">Artwork</label>

					<div class="input-group mb-3">
						<label class="input-group-text" for="artTypeSelect">Choose</label>
						<select name="selectUploadType" class="form-select" id="artTypeSelect">
							<option value="url">Upload an image using a valid url.</option>
							<option value="upload">Upload an image from your computer.</option>
						</select>
					</div>

					<div id="containerImageUrl">
						<div class="input-group">
							<!-- <label class="input-group-text" for="imageUrlInput">Image url</label> -->
							<input id="imageUrlInput" class="form-control" type="text" name="imageUrl" placeholder="http(s)://" title="Please fill-in a valid url" pattern="(https?|ftps?):\/\/[\w\W]+\.(jpg|png|svg|gif)" autocomplete="imageUrl" required>
						</div>
					</div>
					<div id="containerImageUpload" style="display: none">
						<div class="input-group" >
							<!-- <span class="input-group-text" id="imageUpload">Upload</span> -->
							<div class="form-file">
								<input type="file" class="form-file-input" id="imageUploadInput" aria-describedby="Upload Artwork" name="imageUpload" autocomplete="imageUpload" >
								<label class="form-file-label" for="imageUploadInput">
									<span class="form-file-text" id="imgUploadText">Choose file...</span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="mb-3">
					<label class="label" for="artType">Art Type</label>
					<div class="input-group">
						<label class="input-group-text" for="artType">Choose</label>
						<!-- <input class="form-control" id="artType" type="text" name="artType"> -->
						<select class="form-select" id="artType" name="artType">
							<%artType.forEach(x =>{%>
								<option value='{"index":<%=x.index%>,"name":"<%=x.name%>"}'><%=x.name%></option>
							<%})%>
						</select>
					</div>
					<div class="form-group mt-3" id="artTypeOthersContainer" style="display:none;">
						<!-- <label for="artTypeOtherName">Others</label> -->
						<input class="form-control" type="text" name="artTypeOtherName" id="artTypeOtherName" placeholder="Define your artwork.." autocomplete="artTypeOtherName" >
					</div>
				</div>
				
				<div class="mb-3">
					<label class="label" for="status">Status</label>
					<div class="input-group">
						<label class="input-group-text" for="status">Choose</label>
						<select class="form-select" id="status" name="status">
							<%statusList.forEach(x =>{%>
								<option value='{"index":<%=x.index%>,"name":"<%=x.name%>"}'><%=x.name%></option>
							<%})%>
						</select>
					</div>
				</div>
				<div class="mb-3 ">
					<label class="label" for="price">Price</label>
					<div class="input-group">
						<label class="input-group-text" >&#8369;</label>
						<input class="form-control" id="price" type="number" name="price" step="0.5" min="0.00" autocomplete="price">
					</div>
				</div>
				<div class="mb-3">
					<label class="label" for="description">Description</label>
					<textarea class="form-control" id="description" name="description" placeholder="Description" autofocus="true" rows="6" autocomplete="description"></textarea>
				</div>
				<input class="btn btn-primary btn-block" type="submit" value="Submit Artwork">
			</form>
			<div class="mt-2">
				<a href="/artgallery"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>  Go Back</a>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/assets/js/new-art.js"></script>
<%-include("../partials/footer")%>