<%-include("../partials/header")%>

<style type="text/css">
	.wrap-p {
		white-space: pre-wrap;
	}
	.comment-box {
		padding: 1em 0;
		border: 2px solid rgba(0,0,0,0.3);
		border-radius: 10px;
	}
	.comment-box:hover {
		border-color: rgba(146,0,120,0.5);
		background-color: rgba(10,10,10,0.3);
	}
</style>

<div class="row my-3">
	<!-- info -->
	<div class="col-md-2 d-none">
		<section>
			info
		</section>
	</div>
	<!-- post -->
	<div class="col-md-12 order-first-md">
		<article class="my-2">
			<figure class="figure row align-self-center mb-2">
				<img data-src="<%=artgallery.image.secure_url%>" class="img img-fluid lazy" src="<%=artgallery.image.placeholder_url%>" width="<%=artgallery.image.width%>" height="<%=artgallery.image.height%>">
			</figure>
			<header class="mb-3">
				<p class="wrap-p mt-4" align="justify"><%-artgallery.description%></p>
				<h4 class="card-title wrap-p mt-3 display-5"><strong><%=artgallery.title%></h4></strong>
			</header>
			<section class="mb-3">
				<table>
					<tr>
						<td>Art Type</td>
						<td class="px-1">:</td>
						<td><strong><%=artgallery.artType.name%></td>
					</tr>
					<tr>
						<td>Status</td>
						<td class="px-1">:</td>
						<td><strong><%=artgallery.status.name%></strong></td>
					</tr>
				<%if(artgallery.price && artgallery.price > 0){%>
					<h4 class="float-right align-self-center">&#8369; <%=artgallery.price%></h4>
				<%}%>
				</table>
			</section>
			<section class="mb-3">
				<div class="mb-5">
					<h6><i class="fa fa-user-o" aria-hidden="true"></i><a href="/user/<%=artgallery.author.id%>"><strong> <%=artgallery.author.fullName%></a></strong></h6>
					<small class="d-block"><em>Created: <%=moment(artgallery.created).fromNow()%></em></small>
				<%if(artgallery.created.toString() !== artgallery.modified.toString()){%>
					<small class="d-block"><em>Last Modified: <%=moment(artgallery.modified).fromNow()%></em></small>
				<%}%>
				</div>
			</section>
			<section class="mb-3">
			<%if(currentUser && artgallery.author.id.equals(currentUser._id)){%>
				<div class="d-flex align-top my-2">
					<div class="">
						<a class="btn btn-warning btn-md" href="/artgallery/<%=artgallery._id%>/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
						<form class="d-inline"action="/artgallery/<%=artgallery._id%>?_method=DELETE" method="POST">
							<button class="btn btn-danger btn-md"><i class="fa fa-times" aria-hidden="true"></i>  Delete</button>
						</form>
					</div>
				</div>
			<%}%>
			</section>
		</article>
		<!-- comment -->
		<section class="my-3">
			<div class="row mb-3">
				<header class="col-6 text-left">
					<h4 style="font-size: 2rem">Comments<h4>
				</header>
				<section class="col-6 text-right">
					<form action="/artgallery/<%=artgallery.id%>/comments/new" method="GET">
						<button class="btn btn-primary" ><i class="fa fa-plus" aria-hidden="true"></i> Add Comment</button>
					</form>
				</section>
				<hr>
			</div>
			<section>
			<% artgallery.comments.forEach((comment)=>{%>
				<article class="row comment-box mb-2">
					<header class="col-lg-10 ">
						<h6><strong><%=comment.title%></strong></h6>
						<p class="wrap-p"><%=comment.text%></p>
						<small><strong><a href="/user/<%=comment.author.id%>"><%=comment.author.fullName%></a></strong></small>
						<small class="text-left d-block">
							<%if(comment.created.toString() === comment.modified.toString()){%>
								<em>Created: <%=moment(comment.created).fromNow()%></em>
							<%} else {%>
								<em>Modified: <%=moment(comment.modified).fromNow()%></em>
							<%}%>
						</small>
					</header>
					<section class="col-lg-2 text-right my-2">
					<%if(currentUser && comment.author.id.equals(currentUser._id)){%>
						<div class="d-inline">
							<a class="btn btn-warning btn-sm" href="/artgallery/<%=artgallery._id%>/comments/<%=comment.id%>/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
						</div>
						<div class="d-inline">
							<form class="d-inline"action="/artgallery/<%=artgallery._id%>/comments/<%=comment.id%>?_method=DELETE" method="POST">
								<button class="btn btn-danger btn-sm"><i class="fa fa-times" aria-hidden="true"></i> Delete</button>
							</form>
						</div>
					<%}%>
					</section>
				</article>	
			<%})%>
			</section>
		</section>
	</div>
</div>

<%-include("../partials/footer")%>