<%-include("../partials/header")%>

<div class="row justify-content-center">
	<div class="col-md-9">
		<div class="card>">
			<img src="<%=artgallery.image%>" class="card-img-top" alt="...">
			<div class="card-body">
				<p class="card-text"><%=artgallery.description%></p>

				<h1 class="card-title"><strong><%=artgallery.name%></h1></strong>
				<h4 class="float-right">&#8369; <%=artgallery.price%></h4>
				<div>
					<em>Submitted by: <strong><%=artgallery.author.username%></strong></em>
					<span class="d-block"><em>Created: <%=moment(artgallery.created).fromNow()%></em></span>
					<%if(artgallery.created.toString() === artgallery.modified.toString()){%>
						<span class="d-block"><em>Last Modified: <%=moment(artgallery.modified).fromNow()%></em></span>
					<%}%>
				</div>
				<div>
					<span>Status: </span>
					<span><strong><%=artgallery.status.desc%></strong></span>
				</div>
				<div class="d-flex">
					<div class="">
						<%if(currentUser && artgallery.author.id.equals(currentUser._id)){%>
							<a class="btn btn-warning btn-md" href="/artgallery/<%=artgallery._id%>/edit">Edit</a>
							<form class="form-inline"action="/artgallery/<%=artgallery._id%>?_method=DELETE" method="POST">
								<button class="btn btn-danger btn-md">Delete</button>
							</form>
						<%}%>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
<!-- Comments -->
	<div class="container">
		<div class="d-flex">
			<h4>Comments</h4>
			<div class="ml-auto">
				<a class="btn btn-success" href="/artgallery/<%=artgallery._id%>/comments/new">Add new comment</a>
			</div>
		</div>
		<hr>
		<div>	
			<% artgallery.comments.forEach((comment)=>{%>
				<div class=row>
					<div class="col-md-12">
						<strong><%=comment.author.username%></strong>
						<span class="float-right" style="font-size: 95%">
							<%if(comment.created.toString() === comment.modified.toString()){%>
								<em>Created: <%=moment(comment.created).fromNow()%></em>
							<%} else {%>
								<em>Modified: <%=moment(comment.modified).fromNow()%></em>
							<%}%>
						</span>
						<p>
							<%=comment.text%> 
						</p>
						<%if(currentUser && comment.author.id.equals(currentUser._id)){%>
							<a class="btn btn-warning btn-sm" href="/artgallery/<%=artgallery._id%>/comments/<%=comment.id%>/edit">Edit</a>
							<form class="form-inline"action="/artgallery/<%=artgallery._id%>/comments/<%=comment.id%>?_method=DELETE" method="POST">
								<button class="btn btn-danger btn-sm">Delete</button>
							</form>
						<%}%>
					</div>
				</div>	
			<%})%>
		</div>
	</div>
<%-include("../partials/footer")%>